@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { margin: 0px; padding: 0px; 
	box-sizing: border-box; 
	font-family: 'Noto Sans KR', sans-serif;
	list-style-type: none; text-decoration: none;
}

html,body{ width: 100%; height: 100%; }
body { display: flex; justify-content: center; align-items: center; background:#000;}
#wrap { 
	background-image: url('/static/images/main-bg.png');
	background-size: 100% 100%, 100% 100%; background-repeat:no-repeat;
	position: relative; width: 100%; height: 100%; overflow: hidden;
}
.memo {
	background: url(/static/images/memo.png) no-repeat; width: 72.6%; height: 77%; z-index: 999;
	position: absolute; top: 12%; left: 12.6%; background-size: 100% 100%;
}

.PlayBtn { width: 7.4%; height: 17%; cursor: pointer; display: block; position: absolute; right: 2.28%;}
.next-btn { top: 8.1%; z-index: 100000;}
.setting { top: 31%; }
.cancel { top: 53.5%; }

.tosel-logo { width: 62.4%; height: 51.6%; margin-top: 9.6%;}
.vocabulary-test { width: 37.8%; height: 11.5%; cursor: pointer; margin-top: 2.5%;}
.game-start { 
	width: 27.5%; height: 11.5%; cursor: pointer;
	animation: start 1s infinite alternate;
	margin-top: 3.5%;
}

.Logolist { 
	display: flex; flex-direction: column; 
	align-items: center; height: 100%;
}

.pen-y { position: absolute; top: -35%; right: -12%; z-index: 999999; width: 43%; height: 75%; transform: rotate(12deg);}
.pen-b { position: absolute; bottom: -27%; left: 7%; z-index: 9999; width: 39%; height: 75%; transform: rotate(-15deg); }


#mask { 
	background: rgba(0,0,0,0.5); width: 100%; height: 100%; 
	z-index: 10000000000; position: absolute; top: 0; left: 0; display: none;
}
.option-box { 
	width: 48.1%; height: 42.4%; position: absolute; z-index: 99999999999;
	left: 50%; top: 50%; transform: translate(-50%, -50%);
	background: url(option-box.png); background-size: 100% 100%;
	display: none;
}
.option-cancel { width: 13.5%; height: 25%; float: right; margin: 3% 4% 0% 0%; cursor: pointer;}
.option-check { 
	width: 19.9%; height: 37.2%; position: absolute; bottom: -7%; left: 7%;
	cursor: pointer;
}
/* #vol { width: 500px; height: 100px; } */

/* input[type=range] { background: #000; }
input[type=range]::-webkit-slider-thumb {
	background: #ffffff; cursor: pointer;
} */
input[type=range] { width:40.1%; -webkit-appearance: none; background: transparent; }
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none; 
}
input[type=range]:focus {
	outline: none; /* input range에 포커스 되었을 경우 기본 블러처리 제거 */
}
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; 
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 1vw;
    height: 2.3vw;
    cursor: pointer;
    background: #E6D3C8;
	border-radius: 20px;
}


input[type=range]::-webkit-slider-thumb {
    width: 3vw;
    height: 5vw;
    background: linear-gradient(90deg, #74BF34 0.09%, #8ED94E 99.89%);
	border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8%; /*chrome의 경우 margin-top값을 부여해야합니다.*/
	box-shadow: 0 3px 0 rgb(98,161,44);
}

.volume-box { 
	width: 100%; height: 9%; position: absolute; top: 45%; left: 15%;
	font-family: MuseoModerno; color: #3D3A4F; font-weight: 900; font-size: 4vw;
}



@keyframes start {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.1);
	}
}


@media (min-aspect-ratio: 1280/800){
	.volume-box  { font-size: 6.4vh;}
	input[type=range]::-webkit-slider-runnable-track { width: 1.6vh; height: 3.68vh;}
    input[type=range]::-webkit-slider-thumb { width: 4.8vh; height: 8vh; }
}
