* { margin: 0px; padding: 0px; 
	box-sizing: border-box; 
	font-family: 'Noto Sans KR', sans-serif;
	list-style-type: none; text-decoration: none;
}

html,body{ width: 100%; height: 100%; }
body { display: flex; justify-content: center; align-items: center; background:#000;}
#wrap { 
	background-image: url('/static/images/main-bg.png');
	background-size: 100% 100%, 100% 100%; background-repeat:no-repeat;
	position: relative; width: 100%; height: 100%;
}
.memo {
	background: url(/static/images/memo.png) no-repeat; width: 72.6%; height: 77%; z-index: 999;
	position: absolute; top: 12%; left: 12.6%; background-size: 100% 100%;
}
.memo > div { display: flex; justify-content: space-between;}
.memo > div > img { cursor: pointer;}
.select-level { width: 37.8%; height: 11.3%; display: block; margin: 2.8% 0% 0% 3.3%;}
.top-level { width: 91.5%; height: 39%; margin: 3.5% auto 0 auto;}
.bottom-level { width: 57.4%; height: 39%; margin: 0 auto;}

.PlayBtn { width: 7.4%; height: 17%; cursor: pointer; display: block; position: absolute; right: 2.28%;}
.next-btn { top: 8.1%; }
.setting { top: 31%; }
.cancel { top: 53.5%; }

#pre-starter { animation: 1.35s rotate_ver1 infinite alternate; }
#starter { animation: 1.38s rotate_ver2 infinite alternate;}
#basic { animation: 1.32s rotate_ver1 infinite alternate;}
#junior { animation: 1.34s rotate_ver2 infinite alternate;}
#high-junior { animation: 1.39s rotate_ver1 infinite alternate;}

@keyframes rotate_ver1{
	0% { transform: rotate(-2deg);}
	100% { transform: rotate(2deg)}
}

@keyframes rotate_ver2{
	0% { transform: rotate(2deg);}
	100% { transform: rotate(-2deg)}
}