@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { margin: 0px; padding: 0px; 
	box-sizing: border-box; 
	font-family: 'Noto Sans KR', sans-serif;
	list-style-type: none; text-decoration: none;
}

html,body{ width: 100%; height: 100%; }
body { display: flex; justify-content: center; align-items: center; background:#000;}
#wrap { 
	background-image: url('/static/images/main-bg.png');
	background-size: 100% 100%, 100% 100%; background-repeat:no-repeat;
	position: relative; width: 100%; height: 100%; overflow: hidden;
}
.memo {
	background: url(/static/images/memo.png) no-repeat; width: 72.6%; height: 77%; z-index: 999;
	position: absolute; top: 12%; left: 12.6%; background-size: 100% 100%;
}

.PlayBtn { width: 7.4%; height: 17%; cursor: pointer; display: block; position: absolute; right: 2.28%;}
.next-btn { top: 8.1%; z-index: 100000;}
.setting { top: 31%; }
.cancel { top: 53.5%; }

.tosel-logo { width: 62.4%; height: 51.6%; margin-top: 9.6%;}
.vocabulary-test { width: 37.8%; height: 11.5%; cursor: pointer; margin-top: 2.5%;}
.game-start { 
	width: 27.5%; height: 11.5%; cursor: pointer;
	animation: start 1s infinite alternate;
	margin-top: 3.5%;
}

.Logolist { 
	display: flex; flex-direction: column; 
	align-items: center; height: 100%;
}

.pen-y { position: absolute; top: -35%; right: -12%; z-index: 999999; width: 43%; height: 75%; transform: rotate(12deg);}
.pen-b { position: absolute; bottom: -27%; left: 7%; z-index: 9999; width: 39%; height: 75%; transform: rotate(-15deg); }

