<!doctype html> 
<html lang="ko"> 
<head>
    <title>chapter_basic</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chapter_basic.css">
    {% include 'header.html' %}
</head>
<body>
    <div id="wrap">
        <section class="memo">
            <div class="select-unit">SELECT UNIT</div>
            <div class="chapter-box">
                <div class="chapter-top-line">
                    <section>
                        <img src="/static/images/unit_img.png" class="unit">
                        <img src="/static/images/01.png" class="unit-num">
                        <img src="/static/images/on-check.png" class="check-view c-on">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/02.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-five">
                        <img src="/static/images/03.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/04.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/05.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                </div>
                <div class="chapter-bottom-line">
                    <section>
                        <img src="/static/images/unit_img.png" class="unit">
                        <img src="/static/images/06.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/07.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-five">
                        <img src="/static/images/08.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/09.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                    <section>
                        <img src="/static/images/unit_img.png" class="unit angle-nine">
                        <img src="/static/images/10.png" class="unit-num">
                        <img src="/static/images/un-check.png" class="check-view c-off">
                    </section>
                </div>
            </div>
        </section>
        
        <img src="/static/images/chapter1-long-com.png" class="chapter-btn chapter1">
        <img src="/static/images/chapter2-long-not.png" class="chapter-btn chapter2">
        <img src="/static/images/chapter3-long-not.png" class="chapter-btn chapter3">
    </div>
</body>
    <script>
        function reszie(){
            var height = $(window).height();
            var width = $(window).width();
            var HEIGHT = 800;
            var WIDTH = 1280;
            if (height / width > HEIGHT / WIDTH){
                var w = width;
                var h = HEIGHT/WIDTH * w;
                $("#wrap").css("height", h+"px");
                $("#wrap").css("width", w+"px");
            }
            else{
                var h = height;
                var w = WIDTH/HEIGHT * h;
                $("#wrap").css("width", w+"px");
                $("#wrap").css("height", h+"px");
            }
        }
        $(window).resize(function(){
            reszie();
        });
        $(document).ready(function(){
            reszie()
        });
    </script>
</html>