<form id="form" action="/{{page}}" method="post">
    <input type="hidden" name="level" id="input-level" value="">
</form>
        <div id="mask"></div>
        <div class="option-box">
            <img src="/static/images/option-cancel.png" class="option-cancel">
            <img src="/static/images/on-check.png" class="option-check">
            <div class="volume-box">
                <span style="display: inline-block; margin-right: 3%;">MUSIC</span>
                <input id="vol" type="range" max="100" min="0">
            </div>
        </div>
<script>

    $(".level").click(function (){
        var level = $(this).data("level");
        $("#input-level").val(level);

        $("#form").submit();
    });

    $(".chapter-box").click(function (){

        var level = "{{level}}";
        $("#input-level").val(level);

        $("#form").submit();
    });
    var selectLevel = "{{level}}";

    if(selectLevel == 10){
        $(".select-unit").css("background", "#D9328C");
        $(".middle").show();
    }else if(selectLevel == 5){
        $(".select-unit").css("background", "#EF824E");
        $(".middle").show();
    }else if(selectLevel == 4){
        $(".select-unit").css("background", "#FDCE30");
        $(".long").show();
    }else if(selectLevel == 3){
        $(".select-unit").css("background", "#50B9C5");
    }else if(selectLevel == 6){
        $(".select-unit").css("background", "#3F5FAB");
        $(".middle").show();
    }
</script>
    <script>




        $('.setting').click(function(){
            $('#mask').fadeToggle();
            $('.option-box').fadeToggle();
        })

        $('#mask').click(function(){
            $(this).fadeOut();
            $('.option-box').fadeOut();
        })

        $('.option-cancel').click(function(){
            $('.option-box').fadeOut();
            $('#mask').fadeOut();
        });


        $('.option-check').click(function(){
            $('.option-box').fadeOut();
            $('#mask').fadeOut();
        });

    </script>
    <script>

        vol.oninput = function() {
            audio.volume = vol.value / 100;
        }

    </script>