<!doctype html> 
<html lang="ko"> 
<head> 
    <meta charset="UTF-8">
    <title>voca-level</title>
    <link rel="shortcut icon" href="/static/images/heart.png" type="image/x-icon">
    <link rel="icon" href="/static/images/heart.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/voca-level.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>
<body>
    <div id="wrap">
        <section class="memo">
            <img src="/static/images/select-level.png" class="select-level">
            <div class="top-level">
                <img src="/static/images/pre-starter-btn.png" id="pre-starter" onClick="location.href='/voca-pre';">
                <img src="/static/images/starter-btn.png" id="starter" onClick="location.href='/voca-starter';">
                <img src="/static/images/basic-btn.png" id="basic" onClick="location.href='/voca-basic';">
            </div>
            <div class="bottom-level">
                <img src="/static/images/junior-btn.png" id="junior" onClick="location.href='/voca-junior';">
                <img src="/static/images/high-junior-btn.png" id="high-junior" onClick="location.href='/voca-high';">
            </div>
        </section>
        <div class="BtnList">
            <img src="/static/images/next-btn.png" class="PlayBtn next-btn">
            <img src="/static/images/setting.png" class="PlayBtn setting">
            <img src="/static/images/cancel.png" class="PlayBtn cancel">
        </div>
    </div>
</body>
    <script>
        function reszie(){
            var height = $(window).height();
            var width = $(window).width();
            var HEIGHT = 800;
            var WIDTH = 1280;
            if (height / width > HEIGHT / WIDTH){
                var w = width;
                var h = HEIGHT/WIDTH * w;
                $("#wrap").css("height", h+"px");
                $("#wrap").css("width", w+"px");
            }
            else{
                var h = height;
                var w = WIDTH/HEIGHT * h;
                $("#wrap").css("width", w+"px");
                $("#wrap").css("height", h+"px");
            }
        }
        $(window).resize(function(){
            reszie();
        });
        $(document).ready(function(){
            reszie()
        });
    </script>
</html>