<!doctype html> 
<html lang="ko"> 
<head>
    <title>QUESTION/PS</title>
    {% if level == '10' %}
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-pre.css">
    {% elif level == '5' %}
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-pre.css">
    {% elif level == '4' %}
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-junior.css">
    {% elif level == '3' %}
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-jh.css">
    {% elif level == '6' %}
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-jh.css">
    {% endif %}
    {% include 'header.html' %}
</head>
<body onload="noBack()" onpageshow="if(event.persisted) noBack();" oncontextmenu="return false">
    <div id="wrap">
        <section class="memo">
            <div class="select-unit">SELECT UNIT</div>
            <section class="question-box">
                <section></section>
            </section>
            <section class="answer-box">
                <div class="left-box"></div>
                <div class="center-box"></div>
                <div class="right-box"></div>
            </section>

            <div class="time-box text-center" id="count-down-timer"></div>
            <img src="/static/images/molla.png" class="molla">
        </section>
        <div class="BtnList">
            <img src="/static/images/next-btn.png" class="PlayBtn next-btn">
            <img src="/static/images/pre-btn.png" class="PlayBtn pre-btn">
            <img src="/static/images/setting.png" class="PlayBtn setting">
            <img src="/static/images/cancel.png" class="PlayBtn cancel">
        </div>
    </div>
    <form id="question-form" method="post" action="/marking">
        <input type="hidden" name="level" value="{{level}}">
        <input type="hidden" name="unit" value="{{unit}}">
        <input type="hidden" name="time" id="time">
        <input type="hidden" name="q1" id="q1">
        <input type="hidden" name="q2" id="q2">
        <input type="hidden" name="q3" id="q3">
        <input type="hidden" name="q4" id="q4">
        <input type="hidden" name="q5" id="q5">
        <input type="hidden" name="q6" id="q6">
        <input type="hidden" name="q7" id="q7">
        <input type="hidden" name="q8" id="q8">
        <input type="hidden" name="q9" id="q9">
        <input type="hidden" name="q10" id="q10">
    </form>
</body>
{% include 'header-html.html' %}
<script>
    var qCnt = 1;

    $(document).on('click','.next-btn', function (){
        qCnt ++;
        if(qCnt > 10){
            var qCon = confirm("마지막 문항입니다. 제출하시겠습니까?");
            if(qCon){
                $("#time").val($("#count-down-timer").text());
                $("#question-form").submit();
            }else{
                qCnt --;
                return false;
            }

        }else{
           $(".question-total").hide();
           $(".q" + qCnt).show();
        }
    });

    $(document).on('click','.pre-btn', function (){

        var example = $(this).data("example");
        console.log(qCnt)
        $("#q" + qCnt).val("");

       if(qCnt == 1){
           alert("첫 번째 문항입니다.");
           qCnt++;
           return false;
       }else{
            qCnt --;
           $(".question-total").hide();
           $(".q" + qCnt).show();
       }
    });

    $(document).on('click', '.example', function (){
        var example = $(this).data("example");

        $("#q" + qCnt).val(example);
        qCnt ++;
        if(qCnt > 10){
            var qCon = confirm("마지막 문항입니다. 제출하시겠습니까?");
            if(qCon){
                $("#time").val($("#count-down-timer").text());
                $("#question-form").submit();
            }else{
                qCnt --;
                return false;
            }
        }else{
           $(".question-total").hide();
           $(".q" + qCnt).show();
        }
    });

    function paddedFormat(num) {
        return num < 10 ? "0" + num : num; 
    }

    function startCountDown(duration, element) {

        let secondsRemaining = duration;
        let min = 0;
        let sec = 0;

        let countInterval = setInterval(function () {

            min = parseInt(secondsRemaining / 60);
            sec = parseInt(secondsRemaining % 60);

            element.textContent = `${paddedFormat(min)}:${paddedFormat(sec)}`;

            secondsRemaining = secondsRemaining - 1;
            if($("#count-down-timer").text() == "00:00"){
                alert("시간이 초과되어 시험이 종료되었습니다.");
                $("#question-form").submit();

            }
            if (secondsRemaining < 0) { clearInterval(countInterval) };

        }, 1000);
    }



    window.onload = function () {

        $.ajax({
            url:"/voca/ajax/q_load",
            type:"post",
            data:{"level":"{{level}}","unit":"{{unit}}"}
        }).done(function (result){
                var q_html = '';
                var a_html = '';

                var html = '';

            for(var j=0; j<result.length; j++){
                var exampleList = [];
                var i = j+1
                html += "<input type='hidden' name='q" + i +">";

                exampleList.push(result[j].meaning)
                exampleList.push(result[j].EXAMPLE_1)
                exampleList.push(result[j].EXAMPLE_2)

                q_html += "<div class='q"+ i +" question-total'>" + result[j].question + "</div>";
                a_html += "<div class='q"+ i +" example left-box question-total' data-example='A'>" + exampleList[0] + "</div>";
                a_html += "<div class='q"+ i +" example center-box question-total' data-example='B'>" + exampleList[1]  + "</div>";
                a_html += "<div class='q"+ i +" example right-box question-total' data-example='C'>" + exampleList[2]  + "</div>";

            }
            $(".question-box").html(q_html);
            $(".answer-box").html(a_html);
            $("#question-form").append(html);
            $(".question-total").hide();
            $(".q1").show();

            $(".example").each(function (){
                var thisTextlen = $(this).text().length;

                if(thisTextlen > 8){
                    $(this).css("font-size","2vw");
                }else if(thisTextlen > 4){

                    $(this).css("font-size","2.5vw");
                }
            });
        });

        let time_minutes = 15; // Value in minutes
        let time_seconds = 00; // Value in seconds

        let duration = time_minutes * 60 + time_seconds;

        element = document.querySelector('#count-down-timer');
        element.textContent = `${paddedFormat(time_minutes)}:${paddedFormat(time_seconds)}`;

        startCountDown(--duration, element);

    };



 window.history.forward();
 function noBack(){window.history.forward();}

    function refreshBlock(event){
        if(event.keyCode == 116){
            event.keyCode = 2;
            return false;
        }
    }

    document.onkeydown = refreshBlock;


    </script>
</html>