<!doctype html> 
<html lang="ko"> 
<head>
    <title>voca-level</title>
    <link rel="stylesheet" type="text/css" href="/static/css/voca-level.css">
    {% include 'header.html' %}
</head>
<body>

    <div id="wrap">
        <section class="memo">
            <img src="/static/images/select-level.png" class="select-level">
            <div class="top-level">
                <img src="/static/images/pre-starter-btn.png" class="level" id="pre-starter" data-level = "10">
                <img src="/static/images/starter-btn.png" class="level" id="starter" data-level = "5">
                <img src="/static/images/basic-btn.png" class="level" id="basic" data-level = "4">
            </div>
            <div class="bottom-level">
                <img src="/static/images/junior-btn.png" class="level"  id="junior" data-level = "3">
                <img src="/static/images/high-junior-btn.png" class="level"  id="high-junior" data-level = "6">
            </div>
        </section>
        <div class="BtnList">
            <img src="/static/images/next-btn.png" class="PlayBtn next-btn">
            <img src="/static/images/setting.png" class="PlayBtn setting">
            <img src="/static/images/cancel.png" class="PlayBtn cancel">
        </div>
    </div>
</body>
{% include 'header-html.html' %}
</html>