<!doctype html> 
<html lang="ko"> 
<head>
    <title>voca-main</title>
    <link rel="stylesheet" type="text/css" href="/static/css/voca-main.css">
    {% include 'header.html' %}
</head>
<body>
    <div id="wrap">
        <audio autoplay id="audio" src="/static/images/test.mp3"></audio>
        {% include 'header-html.html' %}
        <img src="/static/images/pen_y.png" class="pen-y">
        <img src="/static/images/pen_b.png" class="pen-b">
        <section class="memo">
            <div class="Logolist">
                <img src="/static/images/tosel-logo.png" class="tosel-logo ">
                <img src="/static/images/game-start.png" class="game-start" onClick="location.href='/level-select';">
            </div>
        </section>
        <div class="BtnList">
            <img src="/static/images/next-btn.png" class="PlayBtn next-btn">
            <img src="/static/images/setting.png" class="PlayBtn setting">
            <img src="/static/images/cancel.png" class="PlayBtn cancel">
        </div>
    </div>
</body>

</html>