<!doctype html> 
<html lang="ko"> 
<head> 
    <meta charset="UTF-8">
    <title>QUESTION/PS</title>
    <link rel="shortcut icon" href="/static/images/heart.png" type="image/x-icon">
    <link rel="icon" href="/static/images/heart.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/voca-question-pre.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>
<body>
    <div id="wrap">
        <section class="memo">
            <div class="select-unit">SELECT UNIT</div>
            <section class="question-box">
                <section>BIRTHDAY</section>
            </section>
            <section class="answer-box">
                <div class="left-box">생일</div>
                <div class="center-box">명절</div>
                <div class="right-box">크리스마스</div>
            </section>

            <div class="time-box text-center" id="count-down-timer"></div>
            <img src="/static/images/molla.png" class="molla">
        </section>
        <div class="BtnList">
            <img src="/static/images/next-btn.png" class="PlayBtn next-btn">
            <img src="/static/images/pre-btn.png" class="PlayBtn pre-btn">
            <img src="/static/images/setting.png" class="PlayBtn setting">
            <img src="/static/images/cancel.png" class="PlayBtn cancel">
        </div>
    </div>
</body>
    <script>
        function reszie(){
            var height = $(window).height();
            var width = $(window).width();
            var HEIGHT = 800;
            var WIDTH = 1280;
            if (height / width > HEIGHT / WIDTH){
                var w = width;
                var h = HEIGHT/WIDTH * w;
                $("#wrap").css("height", h+"px");
                $("#wrap").css("width", w+"px");
            }
            else{
                var h = height;
                var w = WIDTH/HEIGHT * h;
                $("#wrap").css("width", w+"px");
                $("#wrap").css("height", h+"px");
            }
        }
        $(window).resize(function(){
            reszie();
        });
        $(document).ready(function(){
            reszie()
        });

       

    </script>



<script>

    var qCnt = 1;

    $(document).on('click','.next-btn', function (){
        qCnt ++;
        if(qCnt > 15){
            alert("마지막 문항입니다.");
            qCnt --;
            return false;
        }else{
           $(".question-total").hide();
           $(".q" + qCnt).show();
        }
    });

    $(document).on('click','.pre-btn', function (){
       qCnt --;
       if(qCnt == 0){
           alert("첫 번째 문항입니다.");
           qCnt++;
           return false;
       }else{
           $(".question-total").hide();
           $(".q" + qCnt).show();
       }
    });


    function paddedFormat(num) {
        return num < 10 ? "0" + num : num; 
    }

    function startCountDown(duration, element) {

        let secondsRemaining = duration;
        let min = 0;
        let sec = 0;

        let countInterval = setInterval(function () {

            min = parseInt(secondsRemaining / 60);
            sec = parseInt(secondsRemaining % 60);

            element.textContent = `${paddedFormat(min)}:${paddedFormat(sec)}`;

            secondsRemaining = secondsRemaining - 1;
            if($("#count-down-timer").text() == "00:00"){
                alert("시간이 초과되어 시험이 종료되었습니다.")
                location.href='/result';
            }
            if (secondsRemaining < 0) { clearInterval(countInterval) };

        }, 1000);
    }

    function nextBtn(){

    }

    window.onload = function () {

        $.ajax({
            url:"/voca/ajax/q_load",
            type:"post"
        }).done(function (result){
                var q_html = '';
                var a_html = '';
            for(var i=0; i<result.length; i++){

                q_html += "<div class='q"+ result[i].q_num +" question-total'>" + result[i].q + "</div>";

                a_html += "<div class='q"+ result[i].q_num +" left-box question-total'>" + result[i].a1 + "</div>";
                a_html += "<div class='q"+ result[i].q_num +" center-box question-total'>" + result[i].a2 + "</div>";
                a_html += "<div class='q"+ result[i].q_num +" right-box question-total'>" + result[i].a3 + "</div>";
            }
            $(".question-box").html(q_html);
            $(".answer-box").html(a_html);

            $(".question-total").hide();
            $(".q1").show();
        });

        let time_minutes = 15; // Value in minutes
        let time_seconds = 00; // Value in seconds

        let duration = time_minutes * 60 + time_seconds;

        element = document.querySelector('#count-down-timer');
        element.textContent = `${paddedFormat(time_minutes)}:${paddedFormat(time_seconds)}`;

        startCountDown(--duration, element);

        nextBtn();
        preBtn();
    };



    </script>
</html>